!!! 5
%html{:lang => 'en'}
  %head
    %title= "#{@page} - Kevin Pfab"
    = render 'layout/_stylesheets.html.haml'
  %body
    .container
      = render 'layout/_top_bar.html.haml'
      %div{:class => "row logo_div"}
        %div{:class => "span16"}
          %h2{:class => "logo"}
            <span class="red big_logo_letter">k</span>evin<span class="red big_logo_letter">p</span>fab
      .row
        %div{:class => "span2"} 
          %ul{:class => "nav"}
            - @nav.each do |item|
              %li
                - if item[:name] == @page
                  %a{:href => "#{item[:url]}", :class => "nav_selected"}
                    = "#{item[:name]} //"
                - elsif item[:url].nil?
                  .nav_header
                    = item[:name]
                - else
                  %a{:href => "#{item[:url]}"}
                    = item[:name]
        %div{:class => "span12 offset2 content"}
          = yield
      .row
        %div{:class => "span12 offset4"}
          .footer
            Copyright Kevin Pfab, 2011. Contact me at <a href="mailto:kevin.pfab@gmail.com">kevin.pfab@gmail.com</a>.
